<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bnuz.lwj.mapper.TeacherMapper" >
    
    <sql id="query_student_where">
       <if test="StudentCustom!=null">
           <if test="StudentCustom.name!=null and StudentCustom.name!=''">
               student.name LIKE '%${StudentCustom.name}%'
           </if>
       </if>
    </sql>
    
    <select id="findStudentCustomList" parameterType="StudentQueryVo"
        resultType="StudentCustom">
        SELECT student.* FROM student
        <where>
  			<include refid="query_student_where"></include>
  		</where>
  		
    </select>
    
    <select id="selectStudentCustomByPrimaryKey" parameterType="java.lang.Integer" resultType="bnuz.lwj.po.StudentCustom">
        select student.* from student where id = #{id}
    </select>
    
    <update id="updateStudentCustomByPrimaryKey" parameterType="bnuz.lwj.po.StudentCustom" >
       update student 
       set name=#{name},age=#{age},sex=#{sex},grade=#{grade},score=#{score}
       where id = #{id}  
    </update>
    
    <delete id="deleteStudentCustomById" parameterType="java.lang.Integer" >
    delete from student
    where id = #{id}
  	</delete>
  	
    <insert id="insertStudentCustom" parameterType="bnuz.lwj.po.StudentCustom">
        insert into student (id,name,sex,age,grade,score)
    	values (#{id}, #{name}, #{sex}, #{age}, #{grade},#{score})
    </insert>
 
</mapper>